/*************************************************/
/* BASICS */
/*************************************************/
/* Apply border-box to all elements inside the docker table */
#kvm_table,
#kvm_table * {
  box-sizing: border-box;
}

/* Table row colors */
#kvm_table.tablesorter {
  background-color: var(--row-base-bg-c);
}
#kvm_table.tablesorter tbody tr:nth-child(even) {
  background-color: var(--row-even-bg-c);
}

/* Style all links that are not container tools */
#kvm_table :not(.folder-element-custom-btn) > a,
#kvm_table :not(.folder-element-custom-btn) > a:link,
#kvm_table :not(.folder-element-custom-btn) > a:visited {
  color: var(--cscheme-link);
  text-decoration: none;
}
#kvm_table :not(.folder-element-custom-btn) > a:hover {
  color: var(--cscheme-linkhov);
  text-decoration: none;
}

/* Style all container names with updates available */
#kvm_table :not(.folder-element-custom-btn) > a.orange-text,
#kvm_table :not(.folder-element-custom-btn) > a.orange-text:link,
#kvm_table :not(.folder-element-custom-btn) > a.orange-text:visited {
  color: var(--container-name-update-text-c);
  text-decoration: none;
  font-weight: bold;
}
#kvm_table :not(.folder-element-custom-btn) > a.orange-text:hover {
  color: var(--container-name-update-texthov-c);
  text-decoration: none;
  font-weight: bold;
}

/* Warning and Passed Text */
#kvm_table .orange-text,
#kvm_table .warning {
  color: var(--warn-orange-text-c);
}
#kvm_table .green,
#kvm_table .green-text,
#kvm_table .passed {
  color: var(--pass-green-text-c);
}
#kvm_table .blue-text {
  color: var(--accent-blue-text-c);
}

/* Autostart switches *//*
#kvm_table .switch-button-background.checked,
.preview-status .switch-button-background.checked {
  background-color: var(--cscheme-interface-passed);
}
#kvm_table .switch-button-label.on,
.preview-status .switch-button-label.on {
  color: var(--cscheme-interface-passed);
}
*/
/*************************************************/
/* FOLDER NAME AREA */
/*************************************************/
.folder .folder-name {
  width: var(--folderbox-width);
}
/* Prevent folder icon from being clipped when scaled on hover */
.folder .folder-name-sub,
.folder .folder-outer {
  overflow: visible;
}
/* Wrapper around folder icon, name, and toggle */
.folder .folder-name-sub {
  border-style: solid !important;
  border-color: var(--folderbox-brdr-c) !important;
  border-width: var(--folderbox-brdr-width-topbottom) var(--folderbox-brdr-width-right) var(--folderbox-brdr-width-topbottom) var(--folderbox-brdr-width-left) !important;
  border-radius: 4px;
  padding: var(--folderbox-padding-topbottom) var(--folderbox-padding-leftright);
  height: var(--folderbox-height);
  display: flex;
  align-items: center;
}
.folder .folder-outer {
  display: block;
  height: var(--folder-logo-size);
  margin-bottom: 0;
  width: calc(var(--folderbox-width) - 25px);
}
/* Folder image */
.folder-outer img.img {
  width: var(--folder-logo-size);
  height: var(--folder-logo-size);
  margin-right: var(--folder-logo-mrgright);
  /* Desaturate folder icons - Or as specified in vars */
    filter: saturate(var(--folder-logo-saturation));
    /* Add a transition for smooth scaling */
    transition: transform 0.3s ease;
}
.folder-outer:hover img.img {
  /* Saturate folder icons - Or as specified in vars */
    filter: saturate(var(--folder-logo-saturation-hov));
    /* Scale the image on hover */
    transform: scale(var(--folder-logo-size-hov));
}
/* Folder name text */
.folder-outer .folder-appname {
  font-size: var(--folder-name-text-size);
  font-weight: var(--folder-name-text-weight);
}
/* Folder toggle open button */
button.folder-dropdown {
  float: none;
  color: var(--folder-button-text-c);
  border: none;
  background: var(--folder-button-background);
  background-size: var(--folder-button-background-size);
  transition: transform 0.3s ease, color 0.3s ease;
}
button.folder-dropdown:hover {
  color: var(--folder-button-text-c-hov);
  background: var(--folder-button-background-hov);
  /* Scale the button on hover */
  transform: scale(var(--folder-button-size-hov));
}
/* Small "press button" effect */
button.folder-dropdown:active {
  transform: scale(var(--folder-button-size-act));
}
/* Version column */
.folder .updatecolumn {
  text-align: center;
}
/* Started/Stopped Text for Folders */
.outer.folder-outer .state {
  font-size: var(--folder-startstop-text-size);
  margin-left: var(--folder-startstop-text-mrgleft);
  color: var(--cscheme-foreline2);
}

/*************************************************/
/* VERSION COLUMN */
/*************************************************/
.folder .folder-update {
  width: 100px;
}

/*************************************************/
/* CONTAINER PREVIEW ROW */
/*************************************************/
/* Wrapper for all containers in the preview */
.folder .folder-preview {
  border-style: solid !important;
  border-color: var(--folderpreview-brdr-c) !important;
  border-width: var(--folderpreview-brdr-width-topbottom) var(--folderpreview-brdr-width-right) var(--folderpreview-brdr-width-topbottom) var(--folderpreview-brdr-width-left) !important;
  height: var(--folderpreview-height);
  align-items: start;
}

/* Vertical lines between containers - if enabled */
.folder-preview .folder-preview-divider {
  float: none;
  height: var(--container-logo-size);
  margin: var(--container-logo-mrgtopbottom) 5px var(--container-logo-mrgtopbottom) 10px;
  border: 1px solid var(--folderpreview-brdr-c) !important;
}

/*************************************************/
/* CONTAINER IN PREVIEW ROW */
/*************************************************/
/* Outer wrapper around individual containers in preview */
.folder-preview .folder-preview-wrapper {
  float: none;
  margin-left: var(--container-logo-mrgleft);
  margin-top: var(--container-logo-mrgtopbottom);
  height: auto;
}
/* Container image */
.folder-preview-wrapper .outer img.img {
  width: var(--container-logo-size);
  height: var(--container-logo-size);
  margin-right: 5px;
  /* Desaturate docker container icons - Or as specified in vars */
  filter: saturate(var(--container-logo-saturation));
  /* Add a transition for smooth scaling */
  transition: transform 0.3s ease;
}
/* Container image hover */
.folder-preview-wrapper:hover .outer img.img {
  /* Saturate docker container icons - Or as specified in vars */
  filter: saturate(var(--container-logo-saturation-hov));
  /* Scale the image on hover */
  transform: scale(var(--container-logo-size-hov));
}
/* Container name */
.folder-preview-wrapper .appname {
  font-size: var(--container-name-text-size);
  font-weight: var(--container-name-text-weight);
}
/* Started/Stopped Text for Containers */
.outer:not(.folder-outer) .state {
  font-size: var(--container-startstop-text-size);
  margin-left: var(--container-startstop-text-mrgleft);
}

/****** Give more space for containers *******/
/* Autostart column */
#kvm_table th.nine {
  width: 0px; /*110px;*/
  padding: 0;
}

/*************************************************/
/* EXPANDED FOLDER AND NO FOLDER CONTAINER ROW */
/*************************************************/
/* Cell for container name */
#kvm_table .folder-element .ct-name,
#kvm_table .ct-name:not(.folder-name) {
  width: auto !important;
  padding: 8px 20px 8px var(--container-nofold-namebox-padding-left) !important;
}

/* Container name text */
#kvm_table .inner:not(.folder-inner) .appname {
  font-size: var(--container-name-text-size);
  font-weight: var(--container-name-text-weight);
}

/* Wait form on autostart containers */
#kvm_table tr.sortable:not(.folder) td:nth-child(7) span:last-of-type {
  float: none !important;
  display: block;
  margin-left: 10px;
}
