/*************************************************/
/* STARTED/STOPPED ICON SIZES */
/*************************************************/

/* Folder Status */
#docker_view .outer.folder-docker i::before,
#vm_view .outer.folder-vm i::before {
  font-size: var(--folder-status-size);
}

/* Expanded Folder Status */
#docker_view .folder-showcase-outer[expanded="true"] .outer.folder-docker i::before,
#vm_view .folder-showcase-outer[expanded="true"] .outer.folder-vm i::before {
  font-size: var(--exfold-status-size);
}

/* Container Status */
#docker_view .outer.folder-element-docker i::before,
#vm_view .outer.folder-element-vm i::before {
  font-size: var(--container-status-size);
}

/* Container Autostart Status */
#docker_view .outer.folder-element-docker.autostart i::before,
#vm_view .outer.folder-element-vm.autostart i::before {
  font-size: var(--container-atostart-status-size);
}


/*************************************************/
/* DEFAULT STARTED/STOPPED ICONS */
/*************************************************/

/* Started Icon */
#docker_view .outer:not(.autostart, .autostart-full, .autostart-partial, .autostart-off).started i:not(.fa-spin)::before,
#vm_view .outer:not(.autostart, .autostart-full, .autostart-partial, .autostart-off).started i:not(.fa-spin)::before {
  content: var(--container-started-icon);
  color: var(--container-started-icon-c);
}

/* Stopped Icon */
#docker_view .outer:not(.autostart, .autostart-full, .autostart-partial, .autostart-off).stopped i:not(.fa-spin)::before,
#vm_view .outer:not(.autostart, .autostart-full, .autostart-partial, .autostart-off).stopped i:not(.fa-spin)::before {
  content: var(--container-stopped-icon);
  color: var(--container-stopped-icon-c);
}

/* Spin Icon - Started */
#docker_view .outer i.started.fa-spin::before,
#vm_view .outer i.started.fa-spin::before {
  content: var(--container-spin-started-icon);
  color: var(--container-spin-started-icon-c);
}

/* Spin Icon - Stopped */
#docker_view .outer i.stopped.fa-spin::before,
#vm_view .outer i.stopped.fa-spin::before {
  content: var(--container-spin-stopped-icon);
  color: var(--container-spin-stopped-icon-c);
}


/*************************************************/
/* AUTOSTART ICONS */
/*************************************************/

/* Container Icons */
#docker_view .outer:not(.folder-docker).autostart.started i:not(.fa-spin)::before,
#vm_view .outer:not(.folder-vm).autostart.started i:not(.fa-spin)::before {
  content: var(--container-autostart-started-icon); /* Replace the green triangle with a different icon */
  color: var(--container-autostart-started-icon-c);
}

#docker_view .outer:not(.folder-docker).autostart.stopped i:not(.fa-spin)::before,
#vm_view .outer:not(.folder-vm).autostart.stopped i:not(.fa-spin)::before {
  content: var(--container-autostart-stopped-icon); /* Replace the red square with a different icon */
  color: var(--container-autostart-stopped-icon-c);
}

/* Spin Icon - Started */
#docker_view .outer:not(.folder-docker).autostart.started i.fa-spin::before,
#vm_view .outer:not(.folder-vm).autostart.started i.fa-spin::before {
  content: var(--container-spin-started-icon); /* Replace the spinner with a different icon */
  color: var(--container-autostart-started-icon-c);
}

/* Spin Icon - Stopped */
#docker_view .outer:not(.folder-docker).autostart.stopped i.fa-spin::before,
#vm_view .outer:not(.folder-vm).autostart.stopped i.fa-spin::before {
  content: var(--container-spin-stopped-icon); /* Replace the spinner with a different icon */
  color: var(--container-autostart-stopped-icon-c); /* Set spin color of stopped autostart container */
}


/* Folder Icons */
/* Replace the default container status icon with an icon
denoting presence of autostart containers */
#docker_view .outer.folder-docker.autostart-full i::before,
#vm_view .outer.folder-vm.autostart-full i::before {
  content: var(--folder-autostart-full-icon);
  color: var(--folder-autostart-full-icon-c); /* Green color when all autostart containers are started */
}

#docker_view .outer.folder-docker.autostart-partial i::before,
#vm_view .outer.folder-vm.autostart-partial i::before {
  content: var(--folder-autostart-partial-icon);
  color: var(--folder-autostart-partial-icon-c); /* Orange when some autostart containers are started */
}

#docker_view .outer.folder-docker.autostart-off i::before,
#vm_view .outer.folder-vm.autostart-off i::before {
  content: var(--folder-autostart-off-icon);
  color: var(--folder-autostart-off-icon-c); /* Red when no autostart containers are started */
}
